<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <!-- startbootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <link rel="icon" type="../image/x-icon" href="../assets/favicon.ico" />
        <link href="../css/styles.css" rel="stylesheet" />

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>

    <body>
        <div class="container">
            <div class="input-form-backgroud row">
                <div class="input-form col-md-12 mx-auto">
                    <h4 class="mb-3">예약하기</h4>
                    <form class="validation-form" id="reserveForm" method="post" novalidate>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="name">날짜선택</label>
                                <input type="date" name="reserveDate" class="form-control" required>
                                <div class="invalid-feedback">
                                    날짜를 선택해주세요.
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="root">시간선택</label>
                                <select class="custom-select d-block w-100" name="reserveTime" required>
                                    <option value="">선택해주세요.</option>
                                    <option value="">9:00</option>
                                    <option value="">10:00</option>
                                    <option value="">11:00</option>
                                </select>
                                <div class="invalid-feedback">
                                    시간을 선택해주세요.
                                </div>
                            </div>
                        </div>
        
                        <div class="mb-3">
                            <label for="name">인원</label>
                            <input type="text" name="reserveUserCnt" class="form-control" required>
                            <div class="invalid-feedback">
                                인원을 선택해주세요.
                            </div>
                        </div>
                    </form>

                    <a class="btn btn-outline-dark mt-auto" href="#" onclick="insertReserve()">예약</a>
                    <a class="btn btn-outline-dark mt-auto" href="#" onclick="cancelReserve()">취소</a>
                </div>
            </div>
        </div>
        <script>
            window.addEventListener('load', () => {
                const forms = document.getElementsByClassName('validation-form');
        
                Array.prototype.filter.call(forms, (form) => {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
        
                    form.classList.add('was-validated');
                }, false);
                });
            }, false);

            function insertReserve() {
                $('#reserveForm').attr('action', '').submit();
            }

            function cancelReserve() {
                this.close();
            }
        </script>
    </body>
</html>