<div>
    <form role="form" action="/restaurants/new" method="post" enctype="multipart/form-data">
        <div>
            <label for="">식당명</label>
            <input type="text" name="restaurantNm" />
        </div>
        <div>
            <label for="">우편번호</label>
            <input type="text" name="zipcode" />
        </div>
        <div>
            <label for="">주소</label>
            <input type="text" name="streetNm" />
        </div>
        <div>
            <label for="">상세주소</label>
            <input type="text" name="detailAddress" />
        </div>
        <div>
            <label for="">식당 연락처</label>
            <input type="text" name="contact" />
        </div>
        <div>
            <label for="">식당 유형</label>
            <input type="text" name="category" />
        </div>
        <div>
            <label for="">간략 소개</label>
            <input type="text" name="simpleContents" />
        </div>
        <div>
            <label for="">상세 소개</label>
            <input type="text" name="detailContents" />
        </div>
        <div>
            <label for="">대표이미지</label>
            <input type="file" name="fileNm" />
        </div>
        <button type="submit">등록</button>
    </form>
</div>