<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4">
            <th:block th:each="restaurant : ${restaurants}">
                <div class="mb-5">
                    <div class="card h-100">
                        <img class="card-img-top" th:src="|${restaurant?.file?.path}${restaurant?.file?.fileNm}|" alt="..." />
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder" th:text="${restaurant?.restaurantNm}"></h5>
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                <p th:text="${restaurant?.content?.simpleContents}"></p>
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" href="/menus" >메뉴</a>
                                <a class="btn btn-outline-dark mt-auto" href="#" onclick="openReservePopup()">예약</a>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
        <nav aria-label="Pagination">
            <hr class="my-0" />
            <ul class="pagination justify-content-center my-4" id="pageIndex">
                <!-- <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true"><<</a></li>
                <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true"><</a></li>
                <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                <li class="page-item"><a class="page-link" href="#!">2</a></li>
                <li class="page-item"><a class="page-link" href="#!">3</a></li>
                <li class="page-item"><a class="page-link" href="#!">4</a></li>
                <li class="page-item"><a class="page-link" href="#!">5</a></li>
                <li class="page-item"><a class="page-link" href="#!">></a></li>
                <li class="page-item"><a class="page-link" href="#!">>></a></li> -->
            </ul>
        </nav>
    </div>
</section>
<script th:inline="javascript">
    $(document).ready(function(){

        const pagingInfo = [[${pagingInfo}]]; //페이지 정보
        const showPageCnt = 5; //화면에 출력 될 페이지 수
        
        const maxPage = pagingInfo.maxPage; //마지막 페이지
        const currPage = pagingInfo.startIdx == showPageCnt ? pagingInfo.startIdx-1 : pagingInfo.startIdx; //현재 페이지
        
        const startPage = (parseInt(currPage/showPageCnt) * showPageCnt) + 1; //화면에 출력 될 시작 페이지
        const endPage = (maxPage-startPage) > (showPageCnt-1) ? startPage + (showPageCnt-1) : maxPage; // 화면에 출력 될 종료 페이지

        let page = "<li class='page-item disabled'><a class='page-link' href='#' tabindex='-1' aria-disabled='true'><<</a></li>";
        page += "<li class='page-item disabled'><a class='page-link' href='#' tabindex='-1' aria-disabled='true'><</a></li>";
        for(let i=startPage; i<=endPage; i++){
            page += "<li class='page-item'><a class='page-link' href='/restaurants?cursor=6&limit=8'>"+i+"</a></li>";
        }
        page += "<li class='page-item'><a class='page-link' href='#'>></a></li>";
        page += "<li class='page-item'><a class='page-link' href='#'>>></a></li>";

        $("#pageIndex").append(page);
    });
    
    function openReservePopup() {
        const x = (document.body.offsetWidth / 2) - (600 / 2);
        const y = (document.body.offsetHeight / 2) - (500 / 2);
        window.open("/reserve", "reserveForm", "width=600, height=500");
    }

</script>