<div class="container">
    <div class="input-form col-md-12 mx-auto">
        <table class="table">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>식당명</th>
                    <th>예약일</th>
                    <th>연락처</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>식당1</td>
                    <td>2022-07-27</td>
                    <td>010-1234-5678</td>
                    <td><a class="btn btn-outline-dark mt-auto" href="#">수정</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>