<div class="container">
    <div class="input-form-backgroud row">
        <div class="input-form col-md-12 mx-auto">
            <h4 class="mb-3">내 식당</h4>
            <table class="table">
                <colgroup>
                    <col style="width: 60%">
                    <col style="width: 20%">
                    <col style="width: 20%">
                </colgroup>
                <thead>
                    <tr>
                        <th>메뉴명</th>
                        <th>금액</th>
                        <th>비고</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="menu : ${menus}">
                        <td th:text="${menu.menuName}"></td>
                        <td th:text="${menu.price}"></td>
                        <td>
                            <button type="button" class="btn btn-primary" th:onclick="|location.href='/users/${userSeq}/restaurants/menus/${menu.id}'|">수정</button>
                            <button type="button" class="btn btn-primary" th:onclick="|deleteMenu(${userSeq}, ${menu.id})|">삭제</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function deleteMenu(userSeq, menuId){
        if(confirm("삭제하시겠습니까?")) {
            $.ajax({
                type : "delete",
                url : "/users/"+userSeq+"/restaurants/menus/"+menuId,
                data : "",
                dataType : "json",
                success : function(data) {
                    alert("삭제되었습니다.");
                    location.reload();
                },
                error : function(data) {
                    alert("에러가 발생했습니다.");
                }
            })
        }
    }
</script>