<div class="container">
    <div class="input-form-backgroud row">
        <div class="input-form col-md-12 mx-auto">
            <h4 class="mb-3">내 식당</h4>
            <table class="table">
                <colgroup>
                    <col style="width: 60%">
                    <col style="width: 20%">
                    <col style="width: 20%">
                </colgroup>
                <thead>
                    <tr>
                        <th>식당명</th>
                        <th>연락처</th>
                        <th>비고</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="restaurant : ${restaurants}">
                        <td th:text="${restaurant.restaurantNm}"></td>
                        <td th:text="${restaurant.contact}"></td>                        
                        <td><button type="button" class="btn btn-primary" th:onclick="'updateRestaurantPage('+${restaurant.id}+')'">수정</button></td>                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function updateRestaurantPage(id) {
        location.href="/restaurants/"+id+"/update";
    }
</script>