<div class="container">
    <div class="input-form-backgroud row">
        <div class="input-form col-md-12 mx-auto">
            <h4 class="mb-3">내 식당</h4>
            <table class="table">
                <colgroup>
                    <col style="width: 60%">
                    <col style="width: 20%">
                    <col style="width: 20%">
                </colgroup>
                <thead>
                    <tr>
                        <th>식당명</th>
                        <th>메뉴관리</th>
                        <th>비고</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="restaurant : ${restaurants}">
                        <td th:text="${restaurant.restaurantName}"></td>
                        <td>
                            <button type="button" class="btn btn-primary" th:onclick="|location.href='/menu/${restaurant.id}/new'|">메뉴등록</button>
                            <button type="button" class="btn btn-primary" th:onclick="|location.href='/users/${userSeq}/restaurants/${restaurant.id}/menus'|">메뉴목록</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary" th:onclick="|location.href='/restaurants/${restaurant.id}/update'|">수정</button>
                            <button type="button" class="btn btn-primary" th:onclick="|delete(${restaurant.id})|">삭제</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function delete(id){
        if(confirm("삭제하시겠습니까?")) {
            $.ajax({
                type : "post",
                url : "/restaurants/"+id+"/delete",
                data : "",
                dataType : "json",
                success : function(data) {
                    alert("삭제되었습니다.");
                    location.reload();
                },
                error : function(data) {
                    alert("에러가 발생했습니다.");
                }
            })
        }
    }
</script>